$white: #ffffff;
$lightGray: #bbbbbb;
$black: #0a0a0a;
$boxShadow: #797474;
$blackDown: #373333;
$topContainerBackgroundColorAndUlContainer: rgb(179, 156, 249);
$buttonClickHover: rgb(122, 101, 101);
$bottomContainerBackgroundColor: rgb(173, 227, 248);
$buttonAllDeleteBackgroundColor: whitesmoke;
